{% extends "ifb/layout399.html" %}

{% load bootstrap3 staticfiles %}
{% bootstrap_css %}
{% bootstrap_javascript %}

{% block content %}
<div class="container">
    <div class="jumbotron">

        <h1>Welcome</h1> <br>
        <h2>IFB399 : Capstone Project (Phase 2)</h2>
        <br> <h3>Welcome back!</h3>
            Posted on: Thursday, 15 February 2018 11:29:55 AM AEST
        <br><br>Welcome back!
        <br><br>I hope you all have a great break, and now ready to resume your IFB399 project work. The following are some important points for you to keep in mind:
        <br><br>New Capstone Teaching Team – I am the only surviving member of the previous teaching team. Please send all your IFB399 related emails to me (p.bhandari@qut.edu.au). Do not send emails to the previous teaching team members namely Dimitri, Guido and Anthony or itcapstone@qut.edu.au as they cannot help you.
        <br><br>Facebook Support – I will not be able to provide you support via Facebook.
        <br><br>Team Restructuring – Some teams required restructuring because of the various reasons. I am communicating with these teams via email.
        <br><br>Reflection Meetings – Reflection meetings will be conducted in Week 2, 4, 6, 8, and 10. I will send you an invitation to register in a session on Monday with further details.
        <br><br>Lecture – There are no lectures in IFB399. Week 1 lecture will be uploaded before Monday, 19/2/2018 in the Blackboard but will not be delivered face to face. Please go through it, and let me know if you have any queries.
        <br><br>Assessments – There are three assessment items in IFB399 namely Reflection meetings, Product and Presentation. The Reflection meetings will run similar to the meetings as we conducted in IFB398. The further information about other assessment items will be provided in the Week 1 lecture, and via Blackboard announcements.
        <br><br>Howe to start your project work – Look at your IFB398 project plan to start building the product. Contact your product owner and organise regular fortnightly meetings with them to receive guidance from them.
        <br><br>Best wishes.
        <br><br>Prakash – IFB399 Unit Coordinator<br>

    </div>
</div>
{% endblock%}
